@import "../scss/variables";

body {
  background-color: $color;
  &:hover {
    color: $color;
  }
  p {
    font-size: 10px;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
